<div class="container home">
	<div class="col-md row my-5">
    <h3>Következő bulik</h3>
		<div class="col-sm"  ng-repeat="x in data track by $index">
      <div class="card" style="width: 18rem;">
        <img ng-src="./img/uj/{{x.img}}" class="card-img-top" alt="...">
        <div class="card-body" id="hatter">
          <h5 class="card-title">Időpont</h5>
          <p class="card-text">{{x.date}}</p>
          <p class="card-text">{{x.time}}</p>
          <h5 class="card-title">Jegyek</h5>
          <p class="card-text">{{x.price}}</p>
          <a  ui-sref="asztalfoglalas"  class="btn btn-outline-dark gombok">Asztalfoglalás</a>
          <a ui-sref="jegyfoglalas" class="btn btn-outline-dark gombok">Jegyvásárlás</a>
        </div>
      </div>
    </div>
    <a ui-sref="programok" class="btn btn-outline-light btn btn-link" style="background-color:black; color: #FF00FF; text-decoration: none">Összes esemény</a>
	</div>
</div>

 <!-- Rate Us! -->
 <section ng-if="user.id">
  <form name="ratingForm">
    <div class="card border-primary mt-1 mb-4 w-100">
      <h2 class="card-header">{{'rate_us' | translate:lang.data}}</h2>

      <!-- Rated Stars -->
      <div class="row justify-content-center mt-3">
        <ul class="list-unstiled w-auto">
          <li data-rating="{{$index+1}}"
              class="d-inline-block mx-2  opacity-25"
              ng-repeat="x in [].constructor(5) track by $index"
              ng-click="clicked($event)"
              ng-class="{'rating-color': $index + 1 &lt;= ratingData.rating}">
              <i class="fa-solid fa-star fa-2xl"></i>
          </li>
        </ul>
      </div>

        <!-- Description Card -->
        <div class="card-body text-primary">
          <p class="justify-content-center">
            {{'from_your_point_of_view' | translate:lang.data}}
          </p>
          
          <!-- Description Label -->
          <div class="mb-3 row">
            <label for="inputrating" 
                   class="col-sm-2 col-form-label">
              {{'r_u_description' | translate:lang.data}}
            </label>
            <div class="col-sm-10">
              <textarea ng-model="ratingData.ratingText"
                        rows="4"
                        class="form-control" 
                        id="inputrating"
                        name="ratingText"
                        required>
              </textarea>                  
            </div>
          </div>
        </div>
      
        <!-- Send Rate Button -->
        <button class="btn btn-primary text-capitalize my-2 w-50 mx-auto" 
                ng-disabled="((ratingForm.ratingText.$invalid) || 
                              (!ratingData.rating))"
                ng-click="send()">
          {{'send' | translate:lang.data}}
        </button>
    </div>      
  </form>
</section>

<hr class="text-muted py-2">

<!-- rating card with footers -->
<section class="wrapper px-2 mb-2 pb-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" 
         ng-repeat="rating in ratings">
      <div class="card h-100">
        
        <!-- Image -->
        <div
          class="bg-img bg-img-cover overflow-hidden 
                 rounded-circle card-img-top mx-auto mt-2"
          style="width: 50px; height: 50px"
          ng-style="{'background-image':rating.img_type?
                      'url(data:'+rating.img_type+';base64,'+rating.img+')':
                      'url('+app.commonPath+'media/image/blank/'+(rating.gender_id===2?'fe':'')+'male-blank.webp)'}">
        </div>

        <!-- Del.Rat. from php -->
        <div class="card-body">
          <h6 class="card-title text-center text-capitalize">
            {{'rating' | translate:lang.data}}: {{rating.rating}}/5
          </h6>

          <!-- Rating stars -->
          <div class="d-flex justify-content-between align-items-center"
               ng-init="stars = [1,2,3,4,5]">
            <div class="small-ratings mx-auto mb-2">
              <i class="fa fa-star"
                 ng-repeat="star in stars"
                 ng-class="{'rating-color': rating.rating >= star}">
              </i>
            </div>
          </div>

          <!-- Rating Text -->
          <p class="fw-bold mb-0">{{rating.first_name}}:</p>
          <p class="card-text ms-1">{{rating.rating_text}}</p>
          <p class="text-muted">{{rating.date}}</p>
        </div>

        <!-- Rating Answer -->
        <div class="card-footer">
          <p class="card-text">{{rating.rating_answer}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

