<div class="container">
  <div class="row text-center mt-5">
    <div class="col">
      <h5 class="fst-italic text-uppercase display-5">
      Ne maradj le!
    </h5>
    <p class="text-white fs-5 fst-italic px-4 mt-3"> 
      Foglalj asztalt vagy jegyet, hogy biztos ott lehess a legjobb bulikon!         	
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col"
         ng-repeat="x in data track by $index">
      <div class="card my-5" style="width: 24rem;">
        <img ng-src="./img/uj/{{x.img}}" 
             class="card-img-top">
        <div class="card-body" style="background-color: black; color:#FF00FF;">
          <div>
            <span style="float: left; font-weight: bold;">Időpont</span><br>
            <span>{{x.date}}</span><br>
            <span>{{x.time}}</span>
          </div>
          <div>
            <span style="float: left; font-weight: bold;">Jegyek</span><br>
            <span>{{x.price}} Ft</span><br>
            <span>{{x.description}}</span>
          </div>
          <a ui-sref="asztalfoglalas" 
             class="btn btn-outline-dark lh-1 gombok mt-2">
            Asztalfoglalás
          </a>
          <a ui-sref="jegyfoglalas" 
             class="btn btn-outline-dark lh-1 text-color-pink mt-2">
            Jegyfoglalás
          </a>
          <div class="position-absolute bottom-0 end-0">
            <button id="inform"
                    data-bs-toggle="modal" 
                    data-bs-target="#informacioUrlap"
                    ng-click="info($event)"
                    data-index="{{$index}}"
                    class="btn btn-outline-dark lh-1 text-color-pink mt-2">
              <img src="img/ikon/info.png" width="30" height="30">
            </button>
            
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" 
      id="informacioUrlap" 
      data-bs-backdrop="static" 
      data-bs-keyboard="false" tabindex="-1" 
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable">
     <div class="modal-content bg-dark border-1 border-white">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="staticBackdropLabel">Részletek</h1>
         <button type="button" class="btn-close btn-close-white me-3" 
                 data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>


      <div class="modal-body" >
        <form name="informationForm">
        <div class="container-fluid" >
          <div class="row">
            <div class="mb-3 col-12 col-sm-6">
              <label for="info" class="form-label">Dátum:</label>
              <input type="text" 
                     class="form-control" 
                     id="info"
                     name="info"
                     ng-model="model.info"
                     disabled>
            </div>
          </div>


          <div class="row" >
            <div class="col-sm-8">
              <h5 class="mt-2">Fellépők:</h5>
                <ul class="list-group">
                  <li class="list-group-item fellepo1">{{x.fellepo1}}</li>
                  <li class="list-group-item fellepo2">{{x.fellepo2}}</li>
                  <li class="list-group-item fellepo3">{{x.fellepo3}}</li>
                  <li class="list-group-item fellepo4">{{x.fellepo4}}</li>
                  <li class="list-group-item fellepo5">{{x.fellepo5}}</li>
                </ul>
              <p>{{x.text}}</p>
              <p>Dress control: {{x.dress}}</p>
              <p>{{x.ticket}} </p>
              <a class="btn btn-outline-dark lh-1 gombok mt-2" 
              ui-sref="hazirend">Házirend</a>
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Bezárás</button>
      </div>
    </div>
  </div>
</div>
